h3 {
  color: orange;
}

#title {
  background-color: blue;
}
.bg {
  background-color: aqua;
}
p {
  color: while;
  background-color: black;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: yellow;
  /*Truyền 1 giá trị cách xung quanh = giá trị đó */
  /* 2 giá trị: giá trị 1(trên, dưới),2 (trái, phải) */
  /* margin: 50px 30px 100px 10px; */
  width: 50%;
  /* margin :auto :căn khối ra giữa*/
  margin: 50px auto;
}
.box3 {
  background-color: blue;
}
